body {
    font-family: 'bodoni';
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.float-right {
    float: right;
    margin: 0 0 10px 10px; /* Adjust margin as needed */
}
