body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

header img {
    position: relative;
    height: 70px;
    margin-right: auto;
}

header input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    margin-right: 10px;
}

header button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
    color: #777;
}
